# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
web/.idea
web/local_paths.php
out
gen
.venv
venv
# Pycache files
source/**/__pycache__
source/**/*.pyc
source/**/.DS_Store
.DS_Store

resources/hands_bounding_dataset/**/**
resources/left_right_classification_dataset/**/**
resources/palm_back_classification_dataset/**/**
resources/palm_back_classification_dataset_h/**/**
resources/palm_back_classification_dataset_rgb/**/**
resources/palm_back_classification_dataset_gray/**/**
resources/jsonHands


resources/hands_locator_dataset/**/**
resources/framedata/**/**
resources/rawcam/
resources/vids/
resources/hands_bounding_dataset/
resources/datasets
resources/hand_labels_synth

!resources/framedata/*.sh
!resources/framedata/contributors.txt
!resources/framedata/compress.sh
!resources/framedata/expand.sh