# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
web/.idea
web/local_paths.php
out
gen
.venv

# Pycache files
source/**/__pycache__
source/**/*.pyc
source/**/.DS_Store
.DS_Store

resources/hands_bounding_dataset/**/**
resources/framedata/**/**
resources/rawcam/**/**

