# Created by .ignore support plugin (hsz.mobi)
!framedata

framedata/*
!framedata/contributors.txt
!framedata/*.sh
!framedata/compress.sh
!framedata/expand.sh

rawcam
vids
hands_bounding_dataset
tbdata
tmp
*.zip