#left_c {
   width: 640px;
   height: 480px;
}

#left_c_points {
   width: 640px;
   height: 480px;
}


#right_c {
   width: 200px;
   height: 250px;
}

#right_c_points {
   width: 200px;
   height: 250px;
}

.wrapper {
    position: relative;
    width: 200px;
    height: 250px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.object_one {

    position: relative;
    width: 640px;
    margin: 0px auto;

}

.object_two {

    position: relative;
    width: 200px;
    margin: 0px auto;

}


.object_two > .description {
    width: 200px;
    margin: 0px;
    padding: 0px;
    color: #2f72ff;
    font-size: 14px;
    padding-top: 10px;
    font-size: 12px;
}

.loader {
    // margin-top: 180px;
    // top: 50%;
    position: relative;
    left: 260px;
    top: 180px;
    pointer-events: none; !important;
    //margin-left: 260px;
    // padding-top: 180px;
    // margin-top: 180px;
    // border-right: 16px solid green;
    // border-bottom: 16px solid red;
    // border-left: 16px solid yellow;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}