


#left_c {
   width: 640px;
   height: 480px;
}

#left_c_points {
   width: 640px;
   height: 480px;
}


#right_c {
   width: 200px;
   height: 250px;
}

#right_c_points {
   width: 200px;
   height: 250px;
}

.wrapper {
    position: relative;
    width: 200px;
    height: 250px;
}

.wrapper canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.object_one {

    position: relative;
    width: 640px;
    margin: 0px auto;

}

.object_two {

    position: relative;
    width: 200px;
    margin: 0px auto;

}


.object_two > .description {
    width: 200px;
    margin: 0px;
    padding: 0px;
    color: #2f72ff;
    font-size: 14px;
    padding-top: 10px;
    font-size: 12px;
}